<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/app.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="@fortawesome/fontawesome-free/css/all.min.css">
    <script src="/Script/app.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <style>
      video 
      {
          background-color: Black;
          border: 2px whitesmoke;
          align-content: center;
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 50px;
      }

      button {
             background-color: rgba(98, 93, 93, 0.377);
             color: black;
             height: 45px;
             border: 2px whitesmoke;
             box-shadow: 10px 10px 5px rgb(74, 71, 95);
             border-radius: 5px;
             margin-left: 450px;
             margin-top: 34px;
             font: bolder;
             position: relative;
             top: -20px;
             left: 10px;
             }

      button:hover { 
                   background-color: rgb(29, 3, 47);
                   color: white;
                   height: 45px;
                   border: 2px whitesmoke;
                   box-shadow: -10px -10px 5px rgb(47, 115, 217);
                   border-radius: 5px;
                   }
     img{
           max-width: 100%;
           height: auto;
           margin-left: 500px;
        }

        h3
        {
           color: black;
        }

      a 
      {
        color: darkblue;
      }

        a:hover, a:active
        {
          color: blueviolet;
        }

      .image
      {
         width: 20%;
         height: auto;
         margin-right: 1000px;
         margin-top: 10px;
      }

      p
      {
        color:black;
      }
        h1 
        {
           margin-left: 500px;
           color: black;
        }

        .title{
              margin-left: 5px;
        }
        #banner
        {
           margin-left: 70px;
        }
        .navbar-brand
        {

          width: 6%;
          height: auto;
          margin-left: -460px;

        }
        aside{
          background-color: beige;
          float: left;
          width: 200px;
          padding: 5px;
          margin: 5px;
          border: 1px solid black;
          outline-style: solid;
          outline-color: rgb(11, 22, 81);
          outline-width: thick;
          position: relative;
          top: -170px;
        }
        #aside{
            background-color: beige;
            float: right;
            width: 200px;
            padding: 5px;
            margin: 5px;
            border: 1px solid black;
            outline-style: solid;
            outline-color: darkred;
            outline-width: thick;
            position: relative;
            top: -180px;

        }
        .Project
        {
           margin-left: -100px;
        }

        .Contact
        {
            margin-left: 40px;
        }

        .paragraph
        {
           margin-top: -140px;
           color: black;
        }

        ol
        {
          color:black;
          margin-top: -120px;
        }
     </style>

  </head>