<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>
<address>
    <!--Creating a division for class and call it contact to adjust the heading -->
    <div class="Contact">
    <h1>Contact Me</h1>
    </div>
    <!--Creating a division for class and call it image to adjust the heading -->
    <div class="image">
    <img src="/Assests/images/depositphotos_78262052-stock-photo-contact-us-icons-web-connection.png" alt="image contact">
   </div>
    <!--Creating a division for class and call it project to adjust the heading -->
   <div class="paragraph">
    <p>
        Contact info at <a href="mailto:ashvien.rameshkumar@ontariotechu.net">
            ashvien.rameshkumar@ontariotechu.net</a>
        <br>
        <br>
        Phone Number<li>647-321-9438</li>
    </p>
    </div>
</address>

<%- include Partials/footer.ejs %>


