<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>
<address>
    <img class="image" src="/Assests/images/IMG_20240926_200439.png" alt="image">
    <p>
        Contact info at <a href="mailto:ashvien.rameshkumar@ontariotechu.net">
            ashvien.rameshkumar@ontariotechu.net</a>
    </p>
</address>

<%- include Partials/footer.ejs %>


