<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>
<!--All body content encloses with ID wrapper -->
<div id="wrapper">  
    <!--This is article helps to hold most of the content -->
    <article>
        <section>
            <h1>Hi There,</h1>
            <h1>My Name is</h1>
            <h1>Ashvien Rameshkumar</h1>
        </section>
    </article>
    <figure>
        <img src="/Assests/images/dbead602ac6cd97966d8016404d6ef6ae9581fb268118a7723d41fd07272a755.0.png" class="img-rounded" width="400" height="210">
    </figure>
    <%- include Partials/footer.ejs %>