<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>
<div id="wrapper">
    <!--This is my header for the inside wrapper-->
    <header>
        <!--Creating a division for class and call it project to adjust the heading -->
        <div class="Project">
        <h1>Projects and Assignments from Python</h1>
        </div>
    </header>
    <!--This is article helps to hold most of the content -->
    <article>
        <section>
            <br>
            <h3>Assignment from Grade 10 Computer Engineering Technology</h3>
            <p>
                 In grade 10 when the first time I took Computer technology I did an Assignment called Boolean rule circuit
                 and I had to create the circuit by using the logic gates and truth table, then I got a 100% grade on that assignment.
                 Also I did a Red light B Assignnment circuit and first I had to simplify the boolean equation then I had to create a truth
                 table and then finally I created the ciruit, then I got a 90% grade. 
            </p>
            
        </section>

        <section>
            <h3>Assignment from Grade 11 Computer Engineering</h3>
            <p>
                In Grade 11 I did a traffic assignment and I had to simplify
                the equation first, then I had to plan my circuit by drawing the materials and build the circuit on breadboard. Then after that I had to presnt
                my circuit to the whole class and therefore I got a 80% grade on that assignment.

            </p>
            
        </section>
        <section>
           <h3>Assignment from Grade 12 Computer Engineering</h3>
           <p>
              In Grade 12 I did a arduino circuit assignment
              and for that assignment I first build the circuit online and I coded it, then I got a 90% on that assignment.
           </p>
        </section>
        
        <section>
            <h3>Assignment from Year 1 Business Analystics</h3>
            <p>
                In my assignment for Durham Auto and Durham Travel, I had to calculate the total commision and
                I had to creat a bar chart for it. Also I had to do the total revenue for them and then I got
                a 100% on that assignment.
            </p>
        </section>
        
              
    </article>

</div>
<%- include Partials/footer.ejs %>
