<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>
<div id="wrapper">
    <div id="banner">
        <h1>Services</h1>
    </div>
    <p>I have many Services in Ontario tech at the list below:</p>
    <img src="/Assests/images/images.png" alt="images">

    <ol>
        <li>
            <a href="https://servicedesk.dc-uoit.ca/Pages/default.aspx">IT Services</a>
        </li>

        <li>
            <a href="https://studentlife.ontariotechu.ca/current-students/health-and-wellness/mental-health-services/index.php">Mental-Health-Services</a>
        </li>

        <li>
            <a href="https://disabilityservices.ontariotechu.ca/uoitclockwork/custom/misc/home.aspx">Student Accessibility online services</a>
        </li>
    </ol>
</div>  
<%- include Partials/footer.ejs %>
